# Code Practice 2
All material taken from [NYU Data Bootcamp](https://github.com/NYUDataBootcamp/Materials/blob/master/Documents/bootcamp_practice_2.pdf). Practice to review concepts from Topic 2 of Data Bootcamp as studied in the "python_notebook". *Select* questions from the Code Practice assignment are practiced below to reinforce Python knowledge.

In [2]:
import datetime as dt
print('Code Practice 2')
print('Today is: ', dt.date.today())

Code Practice 2
Today is:  2018-06-09

## Question 1
Does this code run without error? If so, what does it produce? If not, explain why.<br>
x = [1, 2, 3]<br>
y = 'bootcamp'<br>
z = x + y<br>

In [4]:
x = [1, 2, 3]
y = 'bootcamp'
z = x+y   ## Runs error because you cannot combine string and list types

TypeError: can only concatenate list (not "str") to list

## Question 2 
For the same x and y as the previous question: What function tells us what type
they are? What function tells us how many elements they contain?

In [5]:
type(x)

list

In [7]:
type(y)

str

In [11]:
len(x)

3

In [12]:
len(y)

8

## Question 5
Does this code run without error? If so, what does it produce? If not, how would you fix it?<br>
if 2>1<br>
print('Yes, 2 is still greater than 1')<br>

In [15]:
if 2>1:    ##needs colon
    print('Yes, 2 is still greater than 1')

Yes, 2 is still greater than 1

## Question 6
What is the result of running this code? Why?<br><br>
if True:<br>
print('on the one hand')<br>
else:<br>
print('but on the other hand')<br><br>
What happens if we replace True with False in the first line? What happens if we insert the word not after if in the first line?

In [17]:
if True:
    print('on the one hand')
else:
    print('but on the other hand')

on the one hand

In [21]:
if False:    # replace true with false in the first line
    print('on the one hand')
else:
    print('but on the other hand')

but on the other hand

In [22]:
if not True:    # insert the word 'not' after 'if'
    print('on the one hand')
else:
    print('but on the other hand')

but on the other hand

## Question 7
What is the result of running this code?<br><br>
cond = True<br>
if cond: <br>
x = "Chase"<br>
else:<br>
x = "Dave"<br>
print(x)<br>

In [24]:
cond = True

if cond:
    x="Chase"
else:
    x="Dave"
print(x)

Chase

## Question 8
Suppose we have two lists, x = [1, 2, 3, 4] and y = ['x', 'y', 'z']. Adapt the code below to determine which has more elements:

In [27]:
x = [1, 2, 3, 4]
y = ['x', 'y', 'z']

if len(x)>len(y):
    print("x has more elements than y")
else:
    print("y has more elements than x")

x has more elements than y

## Question 10
How would you extract (\slice") the first element (the integer 1) from the list x below? The last element? All but the last element?<br><br>
x = [1, 2, 3, 4, 5]

In [28]:
x = [1, 2, 3, 4, 5]
x[0]    #slice to get first element

1

In [30]:
x[-1]    # slicing to get last element

5

In [32]:
x[0:-1]    # all but last element

[1, 2, 3, 4]

## Question 11
Use slicing to extract each word from sentence = 'This is a sentence; please slice it.'

In [35]:
y='This is a sentence; please slice it.'
y[0:4]

'This'

In [36]:
y[5:7]

'is'

In [38]:
y[8:9]

'a'

In [40]:
y[10:18]

'sentence'

In [41]:
y[20:26]

'please'

In [42]:
y[27:32]

'slice'

In [43]:
y[33:35]

'it'

## Question 12
Consider the list<br><br>
x = [1, 2, "a", 'b', "fast", 'slow', 3, "Raghu", 'Liuren', 10]<br><br>
a. How would you slice out the first item? The last item?<br>
b. How would you slice out the items from 'b' to 3 inclusive?<br>

In [46]:
x=[1, 2, "a", 'b', "fast", 'slow', 3, "Raghu", 'Liuren', 10]
x[0]    #Slice out first item

1

In [47]:
x[-1]    #slice out last item

10

In [48]:
x[3:7]    #slice out the items from 'b' to 3

['b', 'fast', 'slow', 3]

## Question 13
Using the same list x, write a loop that prints every element on a new line

In [49]:
for item in x:
    print(item)

1
2
a
b
fast
slow
3
Raghu
Liuren
10

## Question 14
Challenging. Using the same list x, write a loop that prints every element of type str.

In [50]:
for item in x:
    if type(item) is str:
        print(item)

a
b
fast
slow
Raghu
Liuren

## Question 15
Use the help function in Jupyter to find out what the range function does. How would you describe range(3,12,2)? Verify by converting to a list with list(range(3,12,2)).

In [56]:
list(range(3,12,2))    # prints EVERY OTHER integer between 3 and 12

[3, 5, 7, 9, 11]

In [58]:
list(range(3,12))    # prints EVERY integer between 3 and 12

[3, 4, 5, 6, 7, 8, 9, 10, 11]

In [59]:
list(range(3, 12, 4))    # prints EVERY THIRD integer between 3 and 12

[3, 7, 11]

## Question 16
Write a loop that sums the integers from zero to thirty that are multiples of three: 3, 6, etc.

In [61]:
total = 0

for item in range(0, 30, 3):
    total = total + item
    
print(total)

135

## Question 17
Define a function pocket_change() that takes four integers as inputs (numbers of pennies, nickels, dimes, and quarters in your pocket) and returns a floating point number (their dollar value). Run your program with the input (1, 2, 3, 4).

In [74]:
def pocket_change(penny, nickel, dime, quarter):
    """
    Takes four integers as inputs
    (number of pennies, nickels, dimes and quarters)
    and returns a floating number (their dollar value)
    """
    return ((penny*1)+(nickel*5)+(dime*10)+(quarter*25))/100

dollar_total = pocket_change(1, 2, 3, 4)
print(dollar_total)

1.41

## Question 19
Consider the Python object<br>z = {1: 'one', 2: 'two', 3: 'three'}

In [78]:
z = {1: 'one', 2: 'two', 3: 'three'}
type(z)    #a. What kind of object is z? what is it's length?

dict

In [77]:
len(z)    #a. what is it's length?

3

In [79]:
z[2]    #c. How would I get the value associated with the key 2?

'two'

In [85]:
z.keys()

dict_keys([1, 2, 3])

In [83]:
z.values()

dict_values(['one', 'two', 'three'])

In [84]:
list(z.keys())    # What does list(z.keys()) do?

[1, 2, 3]

In [86]:
list(z.values())

['one', 'two', 'three']

In [88]:
list(z)    #What does list(z) do?

[1, 2, 3]